numpy
opencv-python; platform_machine != "armv6l" and platform_machine != "armv7l"
RPi.GPIO; platform_machine != "armv6l" and platform_machine != "armv7l" and platform_machine != "aarch64"
Flask
Flask-SocketIO